# Environment
.env
*.env.local

# Node
node_modules/
dist/
build/

# Angular
client/dist/
client/.angular/
client/node_modules/

# Server
server/dist/
server/node_modules/
server/logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*